﻿<%@ Page Title="About Us" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeFile="About.aspx.vb" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
    </h2>
    <p>
        Web App
        Programmers: Jonathan U. Masbate &amp; Ryan Barbasa</p>
<p>
        Database Administrator: Jonathan U. Masbate &amp; Ryan Barbasa</p>
<p>
        Network Administrator:</p>
</asp:Content>